* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.column.left {
  flex: 1;
}

.column.right {
  width: 280px;
  margin-left: 50px;
}

h1 {
  font-size: 22px;
  font-weight: normal;
}

#headline {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  padding-left: 20px;
}

#headline h1 {
  margin-bottom: 20px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  margin-top: 30px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  color: #888888;
}

.heading-info {
  display: flex;
  flex-wrap: wrap;
}

.heading-info p,
h5 {
  display: inline;
}

.heading-info p {
  font-size: 18px;
  margin-left: 2px;
  margin-right: 30px;
}

.main-info-container {
  padding: 20px;
  background: #eeeeee;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.judicial-acts {
  display: flex;
}

.judicial-acts p {
  flex: 1;
  margin-right: 10px;
}

.judicial-acts a {
  flex: 4;
}

.case-files {
  display: flex;
  flex-wrap: wrap;
}

.case-files .row {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.case-files .row p {
  flex: 1;
  margin-right: 10px;
}

.case-files .row a {
  flex: 2;
  margin-right: 10px;
}

.case-files .row .download {
  flex: 3;
}

.case-files .row .download p {
  display: inline;
  margin-right: 10px;
}

.main-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  line-height: 150%;
  text-indent: 20px;
  text-align: justify;
}

.main-text.heading {
  text-align: center;
}

.right-column-block {
  margin-bottom: 20px;
}

li {
  list-style-position: inside;
}

.info {
  padding: 5px 30px;
  background: #eeeeee;
  border-radius: 5px;
  margin-top: 3px;
}

#valid {
  background: #aaffaa;
}

.border {
  width: 100%;
  height: 1px;
  border-top: 1px solid #c3c4c5;
}

#book {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-block {
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.book-block a {
  text-align: center;
  margin-top: 10px;
}

.book-info {
  margin-bottom: 20px;
}

.book-info h3,
.book-info p {
  display: inline;
}

.book-info p {
  margin-left: 5px;
}

#download-book {
  font-size: 14px;
  margin-top: 20px;
}

#download-book p {
  display: inline;
  margin-left: 5px;
  margin-right: 20px;
}

#news {
  height: 300px;
  display: flex;
  padding: 0;
  overflow: hidden;
  margin-bottom: 40px;
}

.news-img {
  flex: 3;
}

.news-img img {
  width: 100%;
  height: 100%;
}

.news-names {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.news-info {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.news-info p {
  font-weight: bold;
  font-size: 12px;
}

.news-info:nth-child(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.new-cases {
  margin-top: 15px;
  margin-bottom: 40px;
}

.new-cases a {
  font-size: 14px;
}

.new-cases .main-text {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 10px;
}

#about {
  font-size: 14px;
}

#bd-count {
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#bd-count p:first-child {
  margin-bottom: 20px;
}

#bd-count .row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1150px) {
  .container {
    flex-wrap: wrap;
  }

  .column.right {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .news-img {
    display: none;
  }
}
